

.floating-header{
    background:rgba(0,0,0,.85);   
}
.floating-header-logo a{
    color:white;
}
.floating-header-title{
    color:#ddd;
}

.flex-video, iframe {
  margin-bottom: 1.875rem;
  border: 0.3125rem solid #fff;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.3); 
}
@media only screen and (min-width: 40.063em) {
    .flex-video, iframe {
        margin-bottom: 3.75rem; 
    } 
}


.post-full-content,
.post-card-excerpt,
.subscribe-overlay-description,
.site-header-content .author-meta  {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.post-card-header .post-card-meta,
.home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-header .post-card-meta
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.15em;
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-bottom: .6em;
}
.post-card-header .post-card-tags,
.post-card-header .date-divider{
    display: inline-block;
    color: #738a94;
    font-size: 100%;
}
.post-card-header .post-card-tags{
    margin-bottom: 0;
}
.post-full-footer{
    flex-flow: row wrap;
    padding-top:1vw;
    padding-bottom: 2vw;
}
.post-full-footer .post-full-tags{
    flex:1 100%;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding-bottom: 2vw;
    color: #738a94;
}
.post-full-tags span:first-child{
    color: initial;
}
.post-full-tags a{
    padding:5px 10px;
}
.post-full-tags .post-tags-header{
    margin: 0 0 2px;
    padding: 0;
    font-size: 2rem;
    font-weight: 700;
}
.post-full-content a{
    color:#26a8ed;
    box-shadow: none;
}
.post-full-content a:hover{
    box-shadow: inset 0 -1px 0 #3eb0ef;
}